
<div class="container">

  <div class="card">

    <h2>Reset Password</h2>

    <p>Create a new password for your account.</p>

    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
    >


      <div class="form-group">

        <label>New Password</label>

        <input
          type="password"
          placeholder="Enter new password"
          formControlName="newPassword"
        />

        <small
          *ngIf="
            f['newPassword'].touched &&
            f['newPassword'].errors?.['required']
          "
        >
          Password is required
        </small>

        <small
          *ngIf="
            f['newPassword'].touched &&
            f['newPassword'].errors?.['minlength']
          "
        >
          Minimum 8 characters required
        </small>

      </div>

      <div class="form-group">

        <label>Confirm Password</label>

        <input
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
        />

        <small
          *ngIf="
            resetPasswordForm.touched &&
            resetPasswordForm.errors?.['passwordMismatch']
          "
        >
          Passwords do not match
        </small>

      </div>

      <button
        type="submit"
        [disabled]="resetPasswordForm.invalid"
      >
        Reset Password
      </button>

    </form>

  </div>

</div>