<div class="verification-page">
  <div class="verification-icon">
    <div class="illustration-container">
      <div id="paperPlaneAnimation"></div>
    </div>
  </div>

  <h1>Email Verified Successfully</h1>

  <p class="verification-description">
    Your email address has been successfully verified. Thank you for confirming your email. Your
    account is now active, and you can access all features of the platform.
  </p>

  <p class="verification-note">
    Redirect to <span routerLink="/login" class="app-link" style="font-size: large;">Login</span> 
  </p>

  
</div>
