<div class="forgetPassword">
  <div class="illustration-container">
    <img src="/assets/images/forget-password.png" type="video/mp4" />
  </div>
  <div class="leftpanel" style="margin-top: 40px">
    <div class="formCard">
      <div class="content">
        <h2>Forget Password??</h2>
       
      </div>
      @if(!ShowMessage){
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="signup-form">
        <div class="app-form-group">
          <label class="app-label">Enter Registered Email </label>

          <input
            type="text"
            class="app-input"
            placeholder="Enter your full name"
            formControlName="email"
          />

          @if (f['email'].touched && f['email'].errors?.['required']) {
            <small class="app-error"> Email is required </small>
          }
        </div>
        <button type="submit" class="app-btn-primary" style="margin-top: 20px">
          Reset Password
        </button>
      </form>}
      @else{
         <p>Enter your email address and we'll send a password reset link to the provided email.</p>
      }
    </div>
  </div>
</div>
