.loader-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 251, 251, 0.15);
  backdrop-filter: blur(2px);
}

.loader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ball {
  width: 18px;
  height: 18px;
  border-radius: 50%;

  animation: bounce 0.9s ease-in-out infinite;

  box-shadow:
    0 4px 12px rgba(0,0,0,.15);
}

/* Colors */

.ball-1 {
  background: #e84393;
  animation-delay: 0s;
}

.ball-2 {
  background: #0984e3;
  animation-delay: 0.15s;
}

.ball-3 {
  background: #00b894;
  animation-delay: 0.3s;
}

.ball-4 {
  background: #f9ca24;
  animation-delay: 0.45s;
}

.ball-5 {
  background: #6c5ce7;
  animation-delay: 0.6s;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-22px);
  }
}
