*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#f4f5fb;
}

.dashboard{
display:grid;
grid-template-columns:260px 1fr;
height:100vh;
}

/* SIDEBAR */

.sidebar{
background:#fff;
padding:30px;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.logo{
display:flex;
align-items:center;
gap:10px;
}

.logo-icon{
font-weight:bold;
font-size:30px;
color:#6d28d9;
}

.register-btn{
height:50px;
border:none;
background:#6d28d9;
color:#fff;
border-radius:12px;
font-size:16px;
cursor:pointer;
display:flex;
justify-content:space-around;
align-items:center;
}

.menu{
list-style:none;
}

.menu li{
padding:18px 10px;
display:flex;
gap:15px;
color:#7c8298;
cursor:pointer;
}

.active{
color:#6d28d9;
font-weight:600;
}

.settings{
display:flex;
gap:10px;
color:#7c8298;
}

.mobile-card{
background:#f3eefc;
padding:30px;
border-radius:20px;
text-align:center;
}

.store-buttons{
display:flex;
justify-content:center;
gap:20px;
margin-top:20px;
}

.store{
width:50px;
height:50px;
border-radius:50%;
background:#fff;
display:flex;
justify-content:center;
align-items:center;
font-size:22px;
}

/* MAIN */

.main{
padding:25px;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
}

.search{
width:350px;
height:50px;
background:#fff;
border-radius:12px;
display:flex;
align-items:center;
padding:0 20px;
gap:10px;
}

.search input{
border:none;
outline:none;
width:100%;
}

.profile{
display:flex;
align-items:center;
gap:20px;
}

.profile img{
width:45px;
height:45px;
border-radius:50%;
}

.stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:25px;
}

.card{
background:#fff;
border-radius:20px;
padding:25px;
}

.stat{
display:flex;
align-items:center;
gap:20px;
}

.circle{
width:60px;
height:60px;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:22px;
}

.purple{
background:#efe7ff;
color:#6d28d9;
}

.blue{
background:#e7f4ff;
color:#2196f3;
}

.orange{
background:#fff1e8;
color:#ff7b39;
}

.pink{
background:#ffe8ef;
color:#ff4081;
}

.middle-grid{
display:grid;
grid-template-columns:3fr 1fr;
gap:20px;
margin-top:20px;
}

.fake-chart{
height:250px;
display:flex;
align-items:flex-end;
justify-content:center;
}

.bars{
display:flex;
gap:15px;
align-items:flex-end;
}

.bars div{
width:10px;
border-radius:20px;
}

.bars .green{
background:#00c78b;
}

.bars .purple{
background:#6d28d9;
}

.gender{
text-align:center;
}

.donut{
width:140px;
height:140px;
border-radius:50%;
margin:30px auto;

background:
conic-gradient(
#6d28d9 65%,
#ff8744 35%
);

position:relative;
}

.donut::after{
content:"";
position:absolute;
width:80px;
height:80px;
background:#fff;
border-radius:50%;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.legend{
display:flex;
justify-content:center;
gap:20px;
}

.bottom-grid{
display:grid;
grid-template-columns:2fr 1fr 1fr;
gap:20px;
margin-top:20px;
}

.line{
height:150px;
margin-top:30px;
border-radius:20px;

background:
linear-gradient(
45deg,
transparent 20%,
#ff8744 20%,
transparent 25%,
#ff8744 30%,
transparent 40%,
#ff8744 45%,
transparent 55%,
#ff8744 60%
);
}

.division ul{
list-style:none;
margin-top:20px;
}

.division li{
padding:15px 0;
display:flex;
justify-content:space-between;
}

.purple-card{
background:linear-gradient(135deg,#8b5cf6,#6d28d9);

color:#fff;

padding:30px;

border-radius:20px;

display:flex;

flex-direction:column;

justify-content:center;
}

.wave{
height:100px;

margin-top:20px;

border-radius:20px;

background:
repeating-linear-gradient(
90deg,
transparent 0,
transparent 15px,
rgba(255,255,255,.4) 16px,
transparent 17px
);
}