<div class="login-wrapper">

  <div class="login-card">

    <!-- LEFT SECTION -->
    <div class="left-panel">

      <div class="illustration-container">
        <img [src]="slides[currentSlide()].image" [alt]="slides[currentSlide()].title" />
      </div>

      <div class="content">
        <h2>{{ slides[currentSlide()].title }}</h2>

        <p>
          {{ slides[currentSlide()].description }}
        </p>
        <div class="slider-dots">
          @for (slide of slides; track $index) {
          <span [class.active]="currentSlide() === $index" (click)="changeSlide($index)">
          </span>
          }
        </div>
      </div>

    </div>

    <!-- RIGHT SECTION -->
    <div class="right-panel">

      <div class="logo-section">
        <img src="/assets/images/logoWhite.png" alt="Login Illustration" />
      </div>

     <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

  <!-- Username -->
  <div class="app-form-group">

    <label class="app-label">
      Email
    </label>

    <input
      type="text"
      class="app-input"
      placeholder="Enter email Id"
      formControlName="email"
    />

    @if(f['email'].touched && f['email'].errors?.['required']) {
      <small class="app-error">
        Email is required
      </small>
    }

  </div>

  <!-- Password -->
  <div class="app-form-group">

    <div class="password-header">

      <label class="app-label">
        Password
      </label>

      <a href="#" class="app-link" routerLink="/forgot-password">
        Forgot Password?
      </a>

    </div>

    <div class="app-password-wrapper">

      <input
        [type]="hidePassword() ? 'password' : 'text'"
        class="app-input"
        placeholder="Enter password"
        formControlName="password"
      />

      <button
        type="button"
        class="app-password-toggle"
        (click)="togglePassword()">

        <i
          class="fa-solid"
          [class.fa-eye]="hidePassword()"
          [class.fa-eye-slash]="!hidePassword()">
        </i>

      </button>

    </div>

    @if(f['password'].touched && f['password'].errors?.['required']) {
      <small class="app-error">
        Password is required
      </small>
    }

  </div>

  <div class="remember-row">
    <label class="remember-me">
      <input type="checkbox" formControlName="rememberMe">
      <span>Remember Me</span>
    </label>
  </div>

  <button
    type="submit"
    class="app-btn-primary"
    >

    Sign In

  </button>

  <div class="divider">
    <span></span>
    <p>or</p>
    <span></span>
  </div>

  <button type="button" class="app-btn-outline google-btn">

    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
      alt="google">

    Sign in with Google

  </button>

  <div class="signup-link">
    Are you new?
    <a routerLink="/register" class="app-link">
      Create an Account
    </a>
  </div>

</form>
    </div>

  </div>

</div>